<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ICM_Project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.ICM_Project">
        <activity
            android:name="com.example.ICM_Project.Welcome"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.ICM_Project.ui.calendar.addActivity"></activity>
        <activity android:name="com.example.ICM_Project.MainActivity">
        </activity>
        <activity android:name="com.example.ICM_Project.ui.login.Login"></activity>
    </application>
    <uses-permission
        android:name="android.permission.READ_CALENDAR">
    </uses-permission>
    <uses-permission
        android:name="android.permission.WRITE_CALENDAR">
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>


    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    'android:windowSoftInputMode="adjustResize|stateAlwaysVisible"'
</manifest>